<%- include('../views/seccionesHTML/head.ejs');%>
<body>
        <%- include('../views/seccionesHTML/menu.ejs'); %>
    
        <form class="container box m-6" action="">
            <div class="has-text-centered is-flex">
                <div class="column is-9  is-align-content-center">
                    <h4 class="title is-4">Registro de Nuevo Prospecto</h4>
                </div>
                <div class="column is-3 is-flex is-align-items-end">
                    <span class="   notification" id="fecha-alta">Fecha Registro: <%= hoy %></span>
                </div>
            </div>
            <div class="divider">datos personales</div>
            <div class="columns">
            </div>
            <div class="columns is-justify-content-center is-align-items-center">
                <div class="column is-2">
                    <label class="label" for="primer_nombre">Primer nombre</label>
                    <input class="input is-small" type="text" name="primer_nombre" id="primer_nombre" tabindex="1" maxlength="30" placeholder="Ej. Alejandro">
                </div>
                <div class="column is-2">
                    <label class="label" for="segundo_nombre">Segundo Nombre</label>
                    <input class="input is-small" type="text" name="segundo_nombre" id="segundo_nombre" tabindex="2" maxlength="30" placeholder="Ej. de Jesus">
                </div>
                <div class="column is-2">
                    <label class="label" for="primer_apellido">Apellido Paterno</label>
                    <input class="input is-small" type="text" name="primer_apellido" id="primer_apellido" tabindex="3" maxlength="30" placeholder="Ej. Ihuit">
                </div>
                <div class="column is-2">
                    <label class="label" for="apellido_paterno">Apellido Materno</label>
                    <input class="input is-small" type="text" name="segundo_apellido" id="segundo_apellido" tabindex="4" maxlength="30" placeholder="Ej. Herrera">
                </div>
                <div class="column is-2">
                    <label class="label" for="fecha_nacimiento">Fecha Nacimiento</label>
                    <input class="input is is-small" type="date" name="fecha_nacimiento" id="fecha_nacimiento" tabindex="5">
                </div>
                <div class="column is-2">
                    <label class="label" for="curp">CURP</label>
                    <input class="input is-small" type="text" name="curp" id="curp" tabindex="6" maxlength="18" placeholder="A 18 caracteres">
                </div>
            </div>

            <div class="columns">
                <div class="column is-4">
                    <label class="label" for="dir_casa">Domicilio</label>
                    <input class="input is-small" type="text" name="dir_casa" id="dir_casa" tabindex="7" maxlength="150" placeholder="Ej. C. 70 x 20 y 22 #556B Col. Montecristo">
                </div>
                <div class="column is-2">
                    <label class="label" for="celular">N°. Telefónico</label>
                    <input class="input is-small" type="text" name="celular" id="celular" maxlength="10" tabindex="8" placeholder="A 10 dígitos">
                </div>
                <div class="column is-2">
                    <label class="label" for="rfc"><abbr title="Clave del RFC a 13 posiciones si es persona física o 12 posiciones si es persona moral, si se trata de contribuyentes. En caso de no contribuyentes, el RFC deberá de cubrir las 13 posiciones por lo que deberán solicitar a la institución de crédito agregar tres ceros al final de dicho campo.">RFC</abbr></label>
                    <input class="input is-small" type="text" name="rfc" id="rfc" maxlength="15" tabindex="9" placeholder="">
                </div>
                <div class="column is-2">
                    <label class="label" for="codigo_postal">Código Postal</label>
                    <input class="input is-small" type="text" name="codigo_postal" id="codigo_postal" maxlength="10" tabindex="10" placeholder="Ej. 97000">
                </div>
                <div class="column is-2">
                    <label class="label" for="escuela">Escuela</label>
                    <input class="input is-small" list="escuelas" type="text" name="escuela" id="escuela" maxlength="100" tabindex="11" title="Si la escuela no está en la lista, escríbela...">
                    <datalist id="escuelas" style="width: 300px;">
                        <% resultadoEscuelas.forEach( item => {  %>
                            <option value="<%= item.escuela %>">
                        <% }); %>
                    </datalist>
                </div>
            </div>

            <div class="divider">DATOS LABORALES</div>

            <div class="columns">

                <div class="column is-3">
                    <label class="label" for="enterado_vacante">¿Cómo se enteró de la vacante?</label>
                    <div class="select is-small is-fullwidth">
                        <select name="medios" id="medioss">
                            <option value="-" disabled="" selected="">Selecciona...</option>
                            <option value="ASESOR PADRINO">ASESOR PADRINO</option>
                            <option value="FACEBOOK">FACEBOOK</option>
                            <option value="INSTAGRAM">INSTAGRAM</option>
                            <option value="RECOMENDACION INTERNA">RECOMENDACIÓN INTERNA</option>
                            <option value="RECOMENDACION EXTERNA">RECOMENDACIÓN EXTERNA</option>
                            <option value="REINGRESO">REINGRESO</option>
                            <option value="INDEED">INDEED</option>
                            <option value="FERIA DE EMPLEO PARQUE">FERIA DE EMPLEO PARQUE</option>
                            <option value="FERIA DE EMPLEO GOBIERNO">FERIA DE EMPLEO GOBIERNO</option>
                            <option value="PAGINA WEB">PÁGINA WEB</option>
                            <option value="UVM">UVM</option>
                            <option value="INGRESO EXPLORA">INGRESO EXPLORA</option>
                            <option value="INTERCAMBIO DE CARTERA">INTERCAMBIO DE CARTERA</option>
                            <option value="SNEY">SNEY</option>
                            <option value="CETEC">CETEC</option>
                            <option value="UNID">UNID</option>
                            <option value="COMPUTRABAJO">COMPUTRABAJO</option>
                            <option value="OTRO">OTRO</option><option value="TEC DE MERIDA">TEC DE MÉRIDA</option>
                        </select>
                    </div>
                </div>

                <div class="column is-3">
                    <div>
                        <label class="label" for="cc_experience">¿En cuál fué?</label>
                        <input id="experiencia_cc" class="input is-small" type="text" name="cc_experience" id="cc_experience" placeholder="Escribe el nombre del Call Center" disabled>
                    </div>
                    
                    <label class="mt-1 checkbox is-flex is-align-content-center" id="check_cc">
                        <input id="exp_check" type="checkbox" onclick="validarCheck();" >  
                        ¿Experiencia en Call Center?
                    </label>
                </div>

                <div class="column is-4">
                    <label class="label" for="campania">Campaña de Interés</label>
                    <div class="select is-small is-fullwidth">
                        <select name="campania" id="campania">
                            <option value="-" disabled="" selected="">Selecciona...</option>
                            <% campanias.forEach( item => { %>
                                <option value="<%= item.nombre_campania %>"><%= item.nombre_campania %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>

                <div class="column is-2">
                    <label class="label" for="turno">Turno</label>
                    <div class="select is-small is-fullwidth">
                        <select name="turno" id="turno">
                            <option value="Matutino">Matutino</option>
                            <option value="Verpertino">Vespertino</option>
                        </select>
                    </div>
                </div>
                
            </div>

        </form>

        <!-- <script src="js/reg_prospectos"></script> -->
        <script type="text/javascript">
            
            function validarCheck() {

                const chkbx = document.getElementById('exp_check');
                const campoExpCC = document.getElementById('experiencia_cc');

                if( chkbx.checked ) {
                    campoExpCC.disabled = false;
                }
                else {
                    chkbx.placeholder = 'Marca la casilla para habilitar';
                    campoExpCC.disabled = true;
                }
            }

        </script>
    </body>
<%- include('../views/seccionesHTML/foot.ejs'); %>