<%- include('../views/seccionesHTML/head.ejs');%>
<body>
        <%- include('../views/seccionesHTML/menu.ejs'); %>
    
        <form class="column is-11 box m-6" id="registrar-prospecto">

            <div class="columns has-text-centered is-flex">

                <div class="column is-12 is-align-content-center">
                    <h4 class="title is-4">Registro de Nuevo Prospecto</h4>
                </div>
            </div>

            <div class="level">
                <div class="level-left">
                  <div class="column notification">
                    <!-- Contenido del div izquierdo -->
                    <strong>Recluta: </strong><span id="reclutador" name="reclutador"><%= session.nombre_completo ? session.nombre_completo : 'null session'  %></span>
                  </div>
                </div>
                <div class="level-right">
                  <div class="column notification">
                    <!-- Contenido del div derecho -->
                    <span>Fecha Registro: </span><strong id="fecha_solicitud" name="fecha_solicitud"><%= hoy %></strong>
                  </div>
                </div>
            </div>
              
            <div class="divider is-info">datos personales</div>

            <div class="columns">
            </div>
            <div class="columns is-justify-content-center is-align-items-center">
                <div class="column is-2">
                    <label class="label" for="primer_nombre">Primer nombre</label>
                    <input class="input is-small" type="text" name="primer_nombre" id="primer_nombre" maxlength="30" placeholder="Ej. Alejandro" required>
                </div>
                <div class="column is-2">
                    <label class="label" for="segundo_nombre">Segundo Nombre</label>
                    <input class="input is-small" type="text" name="segundo_nombre" id="segundo_nombre" maxlength="30" placeholder="Ej. de Jesus" required>
                </div>
                <div class="column is-2">
                    <label class="label" for="primer_apellido">Apellido Paterno</label>
                    <input class="input is-small" type="text" name="primer_apellido" id="primer_apellido" maxlength="30" placeholder="Ej. Ihuit" required>
                </div>
                <div class="column is-2">
                    <label class="label" for="apellido_paterno">Apellido Materno</label>
                    <input class="input is-small" type="text" name="segundo_apellido" id="segundo_apellido" maxlength="30" placeholder="Ej. Herrera" required>
                </div>
                <div class="column is-2">
                    <label class="label" for="fecha_nacimiento">Fecha Nacimiento</label>
                    <input class="input is is-small" type="date" name="fecha_nacimiento" id="fecha_nacimiento">
                </div>
                <div class="column is-2">
                    <label class="label" for="curp">CURP</label>
                    <input class="input is-small" type="text" name="curp" id="curp" maxlength="18" placeholder="A 18 caracteres">
                </div>
            </div>

            <div class="columns">
                <div class="column is-4">
                    <label class="label" for="dir_casa">Domicilio</label>
                    <input class="input is-small" type="text" name="dir_casa" id="dir_casa" maxlength="150" placeholder="Ej. C. 70 x 20 y 22 #556B Col. Montecristo">
                </div>
                <div class="column is-2">
                    <label class="label" for="celular">N°. Telefónico</label>
                    <input class="input is-small" type="text" name="celular" id="celular" placeholder="A 10 dígitos" onkeypress="return onlyNumbers(event);" maxlength="13">
                </div>
                <div class="column is-2">
                    <label class="label" for="rfc"><abbr title="Clave del RFC a 13 posiciones si es persona física o 12 posiciones si es persona moral, si se trata de contribuyentes. En caso de no contribuyentes, el RFC deberá de cubrir las 13 posiciones por lo que deberán solicitar a la institución de crédito agregar tres ceros al final de dicho campo.">RFC</abbr></label>
                    <input class="input is-small" type="text" name="rfc" id="rfc" maxlength="15" placeholder="">
                </div>
                <div class="column is-2">
                    <label class="label" for="codigo_postal">Código Postal</label>
                    <input class="input is-small" type="text" name="codigo_postal" id="codigo_postal" maxlength="10" placeholder="Ej. 97000">
                </div>
                <div class="column is-2">
                    <label class="label" for="escuela">Escuela</label>
                    <input class="input is-small" list="escuelas" type="text" name="escuela" id="escuela" maxlength="100"  title="Si la escuela no está en la lista, escríbela...">
                    <datalist id="escuelas" style="width: 300px;">
                        <% resultadoEscuelas.forEach( item => {  %>
                            <option value="<%= item.escuela %>">
                        <% }); %>
                    </datalist>
                </div>
            </div>

            <div class="divider is-info">DATOS LABORALES</div>

            <div class="columns">

                <div class="column is-3">
                    <label class="label" for="enterado_vacante">¿Cómo se enteró de la vacante?</label>
                    <div class="select is-small is-fullwidth">
                        <select name="medios" id="medioss">
                            <option value="-" disabled="" selected="">Selecciona...</option>
                            <option value="ASESOR PADRINO">ASESOR PADRINO</option>
                            <option value="FACEBOOK">FACEBOOK</option>
                            <option value="INSTAGRAM">INSTAGRAM</option>
                            <option value="RECOMENDACION INTERNA">RECOMENDACIÓN INTERNA</option>
                            <option value="RECOMENDACION EXTERNA">RECOMENDACIÓN EXTERNA</option>
                            <option value="REINGRESO">REINGRESO</option>
                            <option value="INDEED">INDEED</option>
                            <option value="FERIA DE EMPLEO PARQUE">FERIA DE EMPLEO PARQUE</option>
                            <option value="FERIA DE EMPLEO GOBIERNO">FERIA DE EMPLEO GOBIERNO</option>
                            <option value="PAGINA WEB">PÁGINA WEB</option>
                            <option value="UVM">UVM</option>
                            <option value="INGRESO EXPLORA">INGRESO EXPLORA</option>
                            <option value="INTERCAMBIO DE CARTERA">INTERCAMBIO DE CARTERA</option>
                            <option value="SNEY">SNEY</option>
                            <option value="CETEC">CETEC</option>
                            <option value="UNID">UNID</option>
                            <option value="COMPUTRABAJO">COMPUTRABAJO</option>
                            <option value="OTRO">OTRO</option><option value="TEC DE MERIDA">TEC DE MÉRIDA</option>
                        </select>
                    </div>
                </div>

                <div class="column is-3">
                    <div>
                        <label class="label" for="cc_experience">¿En cuál fué?</label>
                        <input class="input is-small" type="text" name="cc_experience" id="cc_experience" value="ninguno" placeholder="Marca la casilla para habilitar..." disabled>
                    </div>
                    
                    <label class="mt-1 checkbox is-flex is-align-content-center" id="check_cc">
                        <input id="exp_check" type="checkbox" onclick="validarCheck();" >  
                        ¿Experiencia en Call Center?
                    </label>
                </div>

                <div class="column is-4">
                    <label class="label" for="campania">Campaña de Interés</label>
                    <div class="select is-small is-fullwidth">
                        <select name="campania" id="campania" required>
                            <option value="-" disabled="" selected="">Selecciona...</option>
                            <% campanias.forEach( item => { %>
                                <option value="<%= item.nombre_campania %>"><%= item.nombre_campania %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>

                <div class="column is-2">
                    <label class="label" for="turno">Turno</label>
                    <div class="select is-small is-fullwidth">
                        <select name="turno" id="turno" required>
                            <option value="Matutino">Matutino</option>
                            <option value="Verpertino">Vespertino</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="columns">

                <div class="column is-2">
                    <label class="label" for="modalidad">Modalidad</label>
                    <div class="select is-small is-fullwidth">
                        <select name="modalidad" id="modalidad">
                            <option value="presencial">PRESENCIAL</option>
                            <option value="home office">HOME OFFICE</option>
                        </select>
                    </div>
                </div>

                <div class="column is-2">
                    <label class="label" for="modalidad">Jornada Laboral</label>
                    <input class="input is-small" type="text" name="horas_laborales" id="horas_laborales" placeholder="Solo número: 4, 6 o 8 horas" onkeypress="return onlyNumbers(event);" maxlength="2">
                </div>

                <div class="column is-3">
                    <label class="label" for="bono">Bono</label>
                    <input class="input is-small" type="text" name="bono" id="bono" placeholder="Escribe el bono correspondiente" maxlength="50">
                </div>


                <div class="column is-2">
                    <label for="fecha_ingreso" class="label">Fecha Ingreso</label>
                    <input class="input is-small" type="date" name="fecha_ingreso" id="fecha_ingreso" class="fecha_ingreso" required>
                </div>

                <div class="column is-3">
                    <label aria-colspan="label" for="asesor_padrino" class="label">Asesor Padrino</label>
                    <input class="input is-small" type="text" name="asesor_padrino" id="asesor_padrino" maxlength="50" placeholder="Escribe el nombre completo del padrino">
                </div>

            </div>

            <div class="columns">
                <div class="column is-12">
                    <label class="label" for="observaciones">Observaciones</label>
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea is-small has-fixed-size" name="observaciones" id="observaciones" cols="30" rows="2" placeholder="Escribe las observaciones"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="levels">
                <div class="level-right">
                    <button class="button is-success" id="registrar-prospecto" onclick="guardarProspecto(); return false;">REGISTRAR PROSPECTO</button>
                </div>
            </div>

        </form>

        <script type="text/javascript">
        
            function guardarProspecto() { //tomar datos y enviarlos a la base
                Swal.fire({
                    title: '¿Guardar Registro?',
                    text: 'Antes de guardar, verifica que hayas llenado todos los campos correspondientes, y, que la información esté debidamente ingresada/escrita.',
                    // showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: 'He verificado',
                    cancelButtonText: 'Verificar de Nuevo'
                })
                .then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {

                        
                        //tomar los campos requeridos para validar
                        let primer_nombre = document.getElementById('primer_nombre').value;
                        let primer_apellido = document.getElementById('primer_apellido').value;
                        let segundo_apellido = document.getElementById('segundo_apellido').value;
                        let cc_experience = document.getElementById('cc_experience').value;
                        let campania = document.getElementById('campania');



                        if( primer_nombre.length === 0 || primer_apellido.length === 0 || segundo_apellido.length === 0 ) {
                            return Swal.fire('El primer nombre y apellidos, son información requerida, valídalos.');
                        }

                        if( campania.value === '-' ) {

                            campania.setAttribute("class", "select is-small is-fullwidth has-background-danger");
                            return Swal.fire('Selecciona una campaña');

                        }
                        
                        //tomar el elemento
                        const formulario = document.getElementById('registrar-prospecto');
                        let fecha_solicitud = document.getElementById('fecha_solicitud').textContent;
                        let reclutador = document.getElementById('reclutador').textContent;
                        
                        const prospectoDatos = {};

                        if( cc_experience !== '' || cc_experience !== 'ninguno')  {

                            prospectoDatos['cc_experience'] = cc_experience;
                        }

                        prospectoDatos['fecha_solicitud'] = fecha_solicitud;
                        prospectoDatos['reclutador'] = reclutador;
                        prospectoDatos['estatus'] = 0; //default

                        const formData = new FormData(formulario);

                        for( let pair of formData.entries() ) {
                            prospectoDatos[pair[0]] = pair[1];
                        }

                        $.ajax({
                            url: '/guardarProspecto',
                            type: 'POST',
                            data: prospectoDatos,
                            beforeSend: () => {

                            },
                            success: (res) => {
                                switch( res.result ) {
                                    case 0:
                                            Swal.fire(`No se pudo guardar la información`, 'Reporta  a Sistemas: insertFail', 'error');
                                        break;
                                    case 1: 
                                            Swal.fire(`Se ha guardado la información de ${primer_nombre} ${primer_apellido}, correctamente...`, '', 'success');
                                        break;
                                }
                            },
                            error: (a, b, c) =>{
                                //tu codigo de manejo de errores PENDIENTE QUE HAGAS
                            }

                        });
                    } 
                });
            }

            //MIS FUNCIONES DE VALIDACION (USO function normal porque admite el hoisting)
            function validarCheck() {

                const chkbx = document.getElementById('exp_check');
                const campoExpCC = document.getElementById('cc_experience');

                if( chkbx.checked ) {
                    campoExpCC.value = '';                    
                    campoExpCC.placeholder = 'Escribe el nombre del CC';                    
                    campoExpCC.disabled = false;
                }
                else {
                    campoExpCC.value = 'ninguno';
                    campoExpCC.disabled = true;
                }
            }

            function onlyNumbers (evt) {

                //Lo llamamons mediante el evento event en la ventana
                evt = (evt) ? evt : window.event;

                //Tomamos su valor del caracter en codigo ASCII, y se almacena para comparar.
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                    
                if(charCode > 47 && charCode < 58) {
                    // console.log('NUMEROS')
                    return true;
                }
                else {
                    // console.log('NO NUMEROS')
                    return false;
                }
            }

        </script>
    </body>
<%- include('../views/seccionesHTML/foot.ejs'); %>