<%- include('../views/seccionesHTML/head.ejs');%>
<body>
        <%- include('../views/seccionesHTML/menu.ejs'); %>
        <div>
            <table class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th><abbr title="primer nombre">Primer nombre</abbr></th>
                        <th><abbr title="segundo nombre">Segundo nombre</abbr></th>
                        <th><abbr title="primer apellido">Primer apellido</abbr></th>
                        <th><abbr title="segundo apellido">Segundo apellido</abbr></th>
                        <th><abbr title="telefono">Telefono</abbr></th>
                        <th><abbr title="status">Status</abbr></th>
                        <th><abbr title="accion"></abbr></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th><abbr title="primer nombre">Primer nombre</abbr></th>
                        <th><abbr title="segundo nombre">Segundo nombre</abbr></th>
                        <th><abbr title="primer apellido">Primer apellido</abbr></th>
                        <th><abbr title="segundo apellido">Segundo apellido</abbr></th>
                        <th><abbr title="telefono">Telefono</abbr></th>
                        <th><abbr title="status">Status</abbr></th>
                        <th><abbr title="accion"></abbr></th>
                    </tr>
                </tfoot>
                <tbody>
                <% tablaProspectos.forEach((item) => { %>
                    <tr>
                        <td><%= item.primer_nombre %></td>
                        <td><%= item.segundo_nombre %></td>
                        <td><%= item.primer_apellido %></td>
                        <td><%= item.segundo_apellido %></td>
                        <td><%= item.celular %></td>
                        <td><%= item.status %></td>
                        <td><button onclick="verProspecto('<%= item.id_prospecto %>'); return false; " class="button is-primary" id="btn_verProspecto">Ver</button></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
        <div class="modal" id="modalProspecto">
            <div onclick="cerrarModalProspecto(); return false" class="modal-background"></div>
            <div class="modal-content custom-modal-content-width" id="contenidoModalProspecto"></div>
            <button onclick="cerrarModalProspecto(); return false" class="modal-close is-large" aria-label="close"></button>
        </div>
        <script type="text/javascript">
            const modalProspecto = document.querySelector("#modalProspecto")
            const contenidoModalProspecto = document.querySelector("#contenidoModalProspecto")

            function verProspecto(id_prospecto){
                $.ajax({
                    url: "/modalProspecto",
                    type: "PUT",
                    data: {id_prospecto},
                    success: function(res){
                        modalProspecto.classList.add('is-active')
                        contenidoModalProspecto.innerHTML = res
                    }
                })
            }


function actualizarProspecto() {

    Swal.fire({
        title: '¿Actualizar informacion de prospecto?',
        text: 'Antes de actualizar, verifica que hayas llenado todos los campos correspondientes, y, que la información esté debidamente ingresada/escrita.',
        showCancelButton: true,
        confirmButtonText: 'Actualizar',
        cancelButtonText: 'Cancelar'
    }).then((result) => { 
        if (result.isConfirmed) {
            
    let formProspecto = document.getElementById("formProspecto");
    let formData = new FormData(formProspecto);
    
            formData.append("id_prospecto", formProspecto.querySelector("#id_prospecto").value);
            formData.append("primer_nombre", formProspecto.querySelector("#primer_nombre").value);
            formData.append("segundo_nombre", formProspecto.querySelector("#segundo_nombre").value);
            formData.append("primer_apellido", formProspecto.querySelector("#primer_apellido").value);
            formData.append("segundo_apellido", formProspecto.querySelector("#segundo_apellido").value);
            formData.append("fecha_nacimiento", formProspecto.querySelector("#fecha_nacimiento").value);
            formData.append("curp", formProspecto.querySelector("#curp").value);
            formData.append("dir_casa", formProspecto.querySelector("#dir_casa").value);
            formData.append("celular", formProspecto.querySelector("#celular").value);
            formData.append("rfc", formProspecto.querySelector("#rfc").value);
            formData.append("codigo_postal", formProspecto.querySelector("#codigo_postal").value);
            formData.append("escuela", formProspecto.querySelector("#escuela").value);
            formData.append("medios", formProspecto.querySelector("#medioss").value);
            formData.append("cc_experience", formProspecto.querySelector("#cc_experience").value);
            formData.append("campania", formProspecto.querySelector("#campania").value);
            formData.append("turno", formProspecto.querySelector("#turno").value);
            formData.append("modalidad", formProspecto.querySelector("#modalidad").value);
            formData.append("horas_laborales", formProspecto.querySelector("#horas_laborales").value);
            formData.append("bono", formProspecto.querySelector("#bono").value);
            formData.append("fecha_ingreso", formProspecto.querySelector("#fecha_ingreso").value);
            formData.append("asesor_padrino", formProspecto.querySelector("#asesor_padrino").value);
            formData.append("observaciones", formProspecto.querySelector("#observaciones").value);

            $.ajax({
                url: "/actualizarDatosProspecto",
                type: "POST",
                data: formData,
                success: function(response) {
                    switch(response.result) {
                        case 0:
                            Swal.fire(`No se pudo guardar la información`, 'Reporta  a Sistemas: insertFail', 'error');
                            break;
                        case 1: 
                            Swal.fire(`Se ha guardado la información correctamente...`, '', 'success');
                            break;
                    }
                    console.log(response);
                },
                error: function(xhr, status, error) {
                    // Manejar el error en caso de fallo
                    console.error(error);
                }
            });
        }
    });
}


    const modalGruposCapa = document.querySelector("#modalGruposCapa")
    const contenidoModalGruposCapa = document.querySelector("#contenidoModalGruposCapa")


            function cerrarModalProspecto(){
                modalProspecto.classList.remove('is-active')
            };

            function cerrarModalGruposCapa(){
                modalGruposCapa.classList.remove('is-active')
            };

            function verGruposCapa(idProspecto){
                $.ajax({
                    url: "/modalGruposCapa",
                    type: "PUT",
                    data: {idProspecto},
                    success: function(res){
                        modalGruposCapa.classList.add('is-active')
                        contenidoModalGruposCapa.innerHTML = res
                    }
                })
            }
            
            function verGrupoCapa(id){
                $.ajax({
                    url: "/modalGrupoCapa",
                    type: "PUT",
                    data: {id},
                    success: function(res){
                        modalProspecto.classList.add('is-active')
                        contenidoModalProspecto.innerHTML = res
                    }
                })
            }

            function onlyNumbers (evt) {
                //Lo llamamons mediante el evento event en la ventana
                evt = (evt) ? evt : window.event;
                //Tomamos su valor del caracter en codigo ASCII, y se almacena para comparar.
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                    
                if(charCode > 47 && charCode < 58) {
                    return true;
                }
                else {
                    return false;
                }
            }

            function validarCheck() {
                const chkbx = document.getElementById('exp_check');
                const campoExpCC = document.getElementById('cc_experience');
                if( chkbx.checked ) {                 
                    campoExpCC.removeAttribute("disabled");
                }
                else if(campoExpCC != ""){
                    campoExpCC.value = 'ninguno';
                }
            }

            document.addEventListener('keydown', function(event) {
                if (event.key === 'Escape') {
                    // Cerrar el modal
                    modalProspecto.classList.remove('is-active');
                }
            });
        </script>
</body>