<form class="column is-12 box" name="formProspecto" id="formProspecto">

    <div class="columns has-text-centered is-flex">
    </div>
    <div class="divider is-info">DATOS PERSONALES</div>

    <div hidden>
        <input type="text" name="id_prospecto" id="id_prospecto" value="<%= verInformacionProspecto[0].id_prospecto %>">
    </div>
    <div class="columns is-justify-content-center is-align-items-center">
        <div class="column is-2">
            <label class="label" for="primer_nombre">Primer nombre</label>
            <input class="input is-small" type="text" name="primer_nombre" id="primer_nombre" maxlength="30" value="<%= verInformacionProspecto[0].primer_nombre %>" required>
        </div>
        <div class="column is-2">
            <label class="label" for="segundo_nombre">Segundo Nombre</label>
            <input class="input is-small" type="text" name="segundo_nombre" id="segundo_nombre" maxlength="30" value="<%= verInformacionProspecto[0].segundo_nombre %>" required>
        </div>
        <div class="column is-2">
            <label class="label" for="primer_apellido">Apellido Paterno</label>
            <input class="input is-small" type="text" name="primer_apellido" id="primer_apellido" maxlength="30" value="<%= verInformacionProspecto[0].primer_apellido %>" required>
        </div>
        <div class="column is-2">
            <label class="label" for="apellido_paterno">Apellido Materno</label>
            <input class="input is-small" type="text" name="segundo_apellido" id="segundo_apellido" maxlength="30" value="<%= verInformacionProspecto[0].segundo_apellido %>" required>
        </div>
        <div class="column is-2">
            <label class="label" for="fecha_nacimiento">Fecha Nacimiento</label>
            <input class="input is is-small" type="date" name="fecha_nacimiento" id="fecha_nacimiento" value="<%= verInformacionProspecto[0].fecha_nacimiento %>">
        </div>
        <div class="column is-2">
            <label class="label" for="curp">CURP</label>
            <input class="input is-small" type="text" name="curp" id="curp" maxlength="18" value="<%= verInformacionProspecto[0].curp %>">
        </div>
    </div>

    <div class="columns">
        <div class="column is-4">
            <label class="label" for="dir_casa">Domicilio</label>
            <input class="input is-small" type="text" name="dir_casa" id="dir_casa" maxlength="150" value="<%= verInformacionProspecto[0].dir_casa %>">
        </div>
        <div class="column is-2">
            <label class="label" for="celular">N°. Telefónico</label>
            <input class="input is-small" type="text" name="celular" id="celular" value="<%= verInformacionProspecto[0].celular %>" onkeypress="return onlyNumbers(event);" maxlength="13">
        </div>
        <div class="column is-2">
            <label class="label" for="rfc"><abbr title="Clave del RFC a 13 posiciones si es persona física o 12 posiciones si es persona moral, si se trata de contribuyentes. En caso de no contribuyentes, el RFC deberá de cubrir las 13 posiciones por lo que deberán solicitar a la institución de crédito agregar tres ceros al final de dicho campo.">RFC</abbr></label>
            <input class="input is-small" type="text" name="rfc" id="rfc" maxlength="15" value="<%= verInformacionProspecto[0].rfc %>">
        </div>
        <div class="column is-2">
            <label class="label" for="codigo_postal">Código Postal</label>
            <input class="input is-small" type="text" name="codigo_postal" id="codigo_postal" maxlength="10" value="<%= verInformacionProspecto[0].codigo_postal %>">
        </div>
        <div class="column is-2">
            <label class="label" for="escuela">Escuela</label>
            <input class="input is-small" list="escuelas" type="text" name="escuela" id="escuela" maxlength="100"  value="<%= verInformacionProspecto[0].escuela %>">
            <datalist id="escuelas" style="width: 300px;">
            </datalist>
        </div>
    </div>

    <div class="divider is-info">DATOS LABORALES</div>

    <div class="columns">

        <div class="column is-3">
            <label class="label" for="enterado_vacante">¿Cómo se enteró de la vacante?</label>
            <div class="select is-small is-fullwidth">
                <select name="medios" id="medios">
                    <option value="<%= verInformacionProspecto[0].medios %>" disabled="" selected="<%= verInformacionProspecto[0].medios %>"><%= verInformacionProspecto[0].medios %></option>
                    <option value="ASESOR PADRINO">ASESOR PADRINO</option>
                    <option value="FACEBOOK">FACEBOOK</option>
                    <option value="INSTAGRAM">INSTAGRAM</option>
                    <option value="RECOMENDACION INTERNA">RECOMENDACIÓN INTERNA</option>
                    <option value="RECOMENDACION EXTERNA">RECOMENDACIÓN EXTERNA</option>
                    <option value="REINGRESO">REINGRESO</option>
                    <option value="INDEED">INDEED</option>
                    <option value="FERIA DE EMPLEO PARQUE">FERIA DE EMPLEO PARQUE</option>
                    <option value="FERIA DE EMPLEO GOBIERNO">FERIA DE EMPLEO GOBIERNO</option>
                    <option value="PAGINA WEB">PÁGINA WEB</option>
                    <option value="UVM">UVM</option>
                    <option value="INGRESO EXPLORA">INGRESO EXPLORA</option>
                    <option value="INTERCAMBIO DE CARTERA">INTERCAMBIO DE CARTERA</option>
                    <option value="SNEY">SNEY</option>
                    <option value="CETEC">CETEC</option>
                    <option value="UNID">UNID</option>
                    <option value="COMPUTRABAJO">COMPUTRABAJO</option>
                    <option value="TEC DE MERIDA">TEC DE MÉRIDA</option>
                    <option value="OTRO">OTRO</option>
                </select>
            </div>
        </div>

        <div class="column is-3">
            <div>
                <label class="label" for="cc_experience">¿En cuál fué?</label>
                <input class="input is-small" type="text" name="cc_experience" id="cc_experience" value="1">
            </div>
            <label class="mt-1 checkbox is-flex is-align-content-center" name="check_cc" id="check_cc">
                <input id="exp_check" name="exp_check" type="checkbox" onclick="validarCheck();" >  
                ¿Experiencia en Call Center?
            </label>
        </div>

        <div class="column is-4">
            <label class="label" for="campania">Campaña de Interés</label>
            <div class="select is-small is-fullwidth">
                <select name="campania" id="campania" required>
                    <option value="<%= verInformacionProspecto[0].campania %>" disabled="" selected="<%= verInformacionProspecto[0].campania %>"><%= verInformacionProspecto[0].campania %></option>
                    <% resultadoCampanias.forEach( item => { %>
                        <option value="<%= item.nombre_campania %>"><%= item.nombre_campania %></option>
                    <% }); %>
                </select>
            </div>
        </div>

        <div class="column is-2">
            <label class="label" for="turno">Turno</label>
            <div class="select is-small is-fullwidth">
                <select name="turno" id="turno" required>
                    <option value="<%= verInformacionProspecto[0].turno %>"><%= verInformacionProspecto[0].turno %></option>
                    <option value="Matutino">Matutino</option>
                    <option value="Verpertino">Vespertino</option>
                </select>
            </div>
        </div>

    </div>

    <div class="columns">

        <div class="column is-2">
            <label class="label" for="modalidad">Modalidad</label>
            <div class="select is-small is-fullwidth">
                <select name="modalidad" id="modalidad">
                    <option value="<%= verInformacionProspecto[0].modalidad %>"><%= verInformacionProspecto[0].modalidad %></option>
                    <option value="presencial">PRESENCIAL</option>
                    <option value="home office">HOME OFFICE</option>
                </select>
            </div>
        </div>

        <div class="column is-2">
            <label class="label" for="modalidad">Jornada Laboral</label>
            <input class="input is-small" type="text" name="horas_laborales" id="horas_laborales" value="<%= verInformacionProspecto[0].horas_laborales %>" onkeypress="return onlyNumbers(event);" maxlength="2">
        </div>

        <div class="column is-3">
            <label class="label" for="bono">Bono</label>
            <input class="input is-small" type="text" name="bono" id="bono" value="<%= verInformacionProspecto[0].bono %>" maxlength="50">
        </div>


        <div class="column is-2">
            <label for="fecha_ingreso" class="label">Fecha Ingreso</label>
            <input class="input is is-small" type="date" name="fecha_ingreso" id="fecha_ingreso" value="<%= verInformacionProspecto[0].fecha_ingreso %>">
        </div>

        <div class="column is-3">
            <label aria-colspan="label" for="asesor_padrino" class="label">Asesor Padrino</label>
            <input class="input is-small" type="text" name="asesor_padrino" id="asesor_padrino" maxlength="50" value="<%= verInformacionProspecto[0].asesor_padrino %>">
        </div>

    </div>

    <div class="columns">
        <div class="column is-12">
            <label class="label" for="observaciones">Observaciones</label>
            <div class="field">
                <div class="control">
                    <textarea class="textarea is-small has-fixed-size" name="observaciones" id="observaciones" cols="30" rows="2" value="<%= verInformacionProspecto[0].observaciones %>"></textarea>
                </div>
            </div>
        </div>
    </div>
    
    <div class="levels">
        <div class="level-right">
            <button class="button is-success" name="btnActualizarProspecto" onclick="actualizarProspecto(); return false;" id="btnActualizarProspecto">ACTUALIZAR PROSPECTO</button>
            <button class="button is-success" id="ingresarCapacitacion" onclick="verGruposCapa(<%= verInformacionProspecto[0].id_prospecto %>); return false;" style="margin-left: 50px;">INGRESAR A CAPACITACION</button>
            <button class="button is-success" id="scarCapacitacion" onclick="sacarCapacitacion(); return false;" style="margin-left: 50px;">SACAR DE CAPACITACION</button>
        </div>
    </div>
</form>

<div class="modal" name="modalGruposCapa" id="modalGruposCapa">
    <div onclick="cerrarModalGruposCapa(); return false" class="modal-background"></div>
    <div class="modal-content custom-modal-content-width-mediano" name="contenidoModalGruposCapa" id="contenidoModalGruposCapa"></div>
    <button onclick="cerrarModalGruposCapa(); return false" class="modal-close is-large" aria-label="close"></button>
</div>

<script type="text/javascript">
    function verGruposCapa(idProspecto){
        $.ajax({
            url: "/modalGruposCapa",
            type: "PUT",
            data: {idProspecto},
            success: function(res){
                modalGruposCapa.classList.add('is-active')
                contenidoModalGruposCapa.innerHTML = res
            }
        })
    }
</script>